/* .standard {
  background-color: blue;
  color: white;
}

.highlighted {
  background-color: red;
  color: white;
} */
@import '../../../theme/colors';
@import '~@nativescript/theme/blue';

FlexboxLayout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 80%;
  padding: 1;
}

.btn-success {
  background: $success;
  border-color: $success;
  color: $white;
}

.btn-fail {
  background: $fail;
  border-color: $fail;
  color: $white;
}
