<FlexboxLayout>
  <StackLayout marginBottom="20">
    <Label class="h1" [text]="currentDay"></Label>
  </StackLayout>
  <Button
    height="60"
    class="btn btn-success -rounded-lg"
    text="Completed"
    (tap)="onAction('complete')"
    *ngIf="action !== 'complete'"
    [isEnabled]="!done"
  ></Button>
  <StackLayout
    height="60"
    class="btn btn-success -rounded-lg"
    *ngIf="action === 'complete'"
  >
    <Label
      text="&#xf00c;"
      horizontalAlignment="center"
      class="fa btn-alt animate-button"
    ></Label>
  </StackLayout>
  <Button
    height="60"
    class="btn btn-fail -rounded-lg"
    text="Failed"
    (tap)="onAction('fail')"
    *ngIf="action !== 'fail'"
    [isEnabled]="!done"
  ></Button>
  <StackLayout
    height="60"
    class="btn btn-fail -rounded-lg"
    *ngIf="action === 'fail'"
  >
    <Label
      text="&#xf00d;"
      horizontalAlignment="center"
      class="fa btn-alt animate-button"
    ></Label>
  </StackLayout>
  <Button
    class="btn btn-flat"
    [text]="cancelText"
    (tap)="onAction('cancel')"
  ></Button>
</FlexboxLayout>
