<app-action-bar
  title="Today's challenge"
  [showBackButton]="false"
></app-action-bar>
<FlexboxLayout class="page" *ngIf="!currentDay">
  <Label text="No challenge found!"></Label>
  <Button
    class="btn btn-primary"
    text="Create One"
    nsRouterLink="/challenges/replace"
    pageTransition="slideLeft"
  ></Button>
</FlexboxLayout>
<FlexboxLayout class="page" *ngIf="currentDay">
  <app-challenge-actions
    (actionSelect)="updateStatus($event)"
    [currentDay]="currentDay.date | date"
    [chosen]="getActionName()"
    [startDone]="getActionName() === 'complete' || getActionName() === 'fail'"
    cancelText="Reset"
  ></app-challenge-actions>
</FlexboxLayout>
