@import '~@nativescript/theme/core';
@import '~@nativescript/theme/blue';
@import './theme/colors';

Button {
  background-color: $primary;
}

ActionBar {
  background: $primary;
  color: rgb(228, 220, 220);
}

.form {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.input-field {
  width: 80%;

  .label {
    color: $primary;
    font-weight: bold;
  }
  .label.invalid {
    color: red;
  }
  .input {
    border-bottom-width: 2;
    border-color: $primary;
    width: 100%;
  }
}

.h1 {
  font-weight: bold;
  color: $primary;
}

.fa {
  font-family: 'FontAwesome, Font-Awesome';
}

.drawer-container {
  background: linear-gradient(140deb, purple, #5c3fa0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20;
}
TextField .btn-flat {
  background: transparent;
  border-color: transparent;
  border-width: 1;
  color: $primary;
}
.btn {
  width: 80%;
  font-size: 24;
}

.ng-invalid.ng-touched {
  border-bottom-color: red;
  color: red;
}
